.vscode/**
*.code-workspace

# Test files
**/*.test.ts
**/test/**

# Compiled output (tsc output - not used for packaging)
out/**

# Misc
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts